/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             
    left:50%;
    top:50%;
    height:50px;                   
    width:225px;                   
    text-align:center;
    padding:180px 0px 0px 0px;     
    margin:-115px 0px 0px -112px;  
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;  
                                      
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

body{
    background-image: linear-gradient(90deg,rgba(181, 167, 201, 1) 0%, rgba(171, 145, 201, 1) 50%, rgba(161, 123, 199, 1) 100%);
    color: white;
    font-weight: bold;
}

.navbar{
    background-color: #9589a4;
}

:root, :host{
    --md-sys-color-primary: #9589a4;
}

.sidenav .user-view .name, .sidenav .user-view .email{
    line-height: calc(var(--sidenav-line-height) * .5);
    font-size: 14px !important;
}

.sidenav .user-view .name{
    text-transform: capitalize !important;
}

.sidenav .user-view .email {
    text-transform: lowercase !important;
}

.circle{
    width: 40px;
}

ul#slide-out.sidenav{
    display: flex !important;
    flex-direction: column !important;
    text-transform: capitalize !important;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }



@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


ul.tabs.tabs-fixed-width.tab-demo.tabs-horizontal.z-depth-1{
    background-color: white;
}

ul#slide-out.sidenav{
    background-color: white;
}
.sidenav li > a:not(.btn):not(.btn-flat):not(.btn-large):not(.btn-floating){
    color: rgb(2, 2, 90) !important;
}

div.nav-wrapper a{
    color: white !important;
}

.tabs .tab a {
    color: #41474d;
}

.container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.news-card {
    background-color: rgba(171, 145, 201, 1) !important;
    height: 450px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.news-card .card-image-box {
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.news-card .card-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-content-area {
    flex-grow: 1;
    overflow: hidden;
    padding: 24px;
    color: white;
}

.card-content-area .card-source-text {
    font-size: 0.9em;
    color: #60566c !important;
}

.card-title-text {
    font-weight: 500;
    line-height: 1.3;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    color: white !important;
}

.card-action-links {
    padding: 16px 24px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card-action-links a {
    color: #ffffff !important;
    font-weight: 500;
}

.news-card.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(-5px);
}

.card-reveal-details {
    padding: 24px;
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    top: 100%;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
    overflow-y: auto;
}

.error-panel {
    padding: 15px;
    margin-top: 10px;
    background-color: #ffcdd2;
    color: #b71c1c;
    border-radius: 4px;
}

